body {
    color: rgb(94, 224, 105);
    text-align: center;

}
.table {
    color: black;
    margin-left: 40%;
}

tr {
    border: 1px solid;
}

th {
    font-size: larger;
    border: 1px solid black;
    padding: 5px;

}

td {
    border: 1px solid black;
    background-color: rgb(208, 247, 164);
    padding: 5px;
}